<div class="interactive-wrapper all">
    <a name="doggraphic" class="articleLink"></a>
    <div class="interactive-container offset">
        <div class="row" >
    	    <div class="main-col">
    	            <div class="row figureTitle">How closely related <span id="currentDog"></span> to other breeds?</div>
    	            <div class="row subTitle">Showing a relatedness index between two breeds based on 'identical-by-descent haplotype sharing' which measures identical sections of DNA inherited from a common ancestor. COO or USA denotes if a dog was sampled from the country of breed origin (COO) or the United States</div>	
    	    
                    <div class="notes row" id="controlRow">
                        
                        <div class="col30 controls">    
                            <div class="row ">View by breed</div>
                            <div><select id="breedSelector"></select></div>
                        </div>    
                        
                        <div class="col30 controls">    
                            <div class="row ">View by group</div>
                            <div><select id="groupSelector"></select></div>
                        </div>    

                        <div class="col40 key">
                            <div class="row ">Relatedness index</div>
                            <div id="chartKey"></div>    
                        </div>   

                        <img src="<%= path %>/hint-selectors.png" id="hintSelector"/>    
                    </div>

                    <div class="notes">
                        <div class="upDownButton"><b>Group key*</b> <span class="upDown">▼</span></div>
                        <div id="colorKey" class="hide"> </div>
                    </div>
                    
            </div>
            
        </div>
    
    
        <div id="graphicContainer">
                <div id="infoButton">

                </div>

                
                <img src="<%= path %>/hint-dogs.png" id="hintDogs"/>    

                <div id="statusMessage" class="btn">Loading...</div>
        </div>

        <div class="row notes">
            *See notes at the end of the article for more detail
        </div>
    </div>
</div>

</div>