@import "fonts";
@import "mq";
@import "palette";
@import "charts";
@import "grid";
@import "restyler";

.interactive-atom {

    .clickdown {

        max-width: 620px;

        a {
                text-decoration: none !important;
                border:none;
                color:#121212;
            }
    }

    .clickdown-inner {

            cursor: pointer;
            border-top:2px #e00000 solid;
            background-color: #f1f1f1;
            font-size: 18px;
            line-height: 22px;
            font-family: 'Guardian Egyptian Web', Georgia, serif;
            font-weight: 400;
            padding-top:5px;
            padding-bottom:5px;
    }

    .clickdown-text {
        padding-left:5px;
        padding-bottom:10px;
        width:80%;
        display: inline-block;
    }

    .clickdown-button {
        margin-left:3%;
        min-width:50px;
        display: inline-block;
        min-height:50px;
        background-image: url('<%= path %>/imgs/down-arrow.svg');
        background-repeat:no-repeat;
    }

    @media (max-width: 460px) {
        .clickdown-button {
            display: none;
        }

        .clickdown-text {
          width: 100%;  
        }
    }
}